# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

#xploitravy/letschengesomeonelife

name: Publish Docker image

on:
  push:
    branches: ['main']
    
env: # Or as an environment variable
  LCSL_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
  LCSL_PASSPHRASE: ${{ secrets.PASSPHRASE }}
  LCSL_DOCKER_IMAGE: ${{ secrets.DOCKER_IMAGE }}
  
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
#      - name: Check out the repo
#        uses: actions/checkout@v3
#
#      - name: Log in to Docker Hub
#        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
#        with:
#          username: xploitravy
#          password: xploit2012
#
#      - name: Extract metadata (tags, labels) for Docker
#        id: meta
#        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
#        with:
#          images: ${{ secrets.DOCKER_IMAGE }}
#
#      - name: Build and push Docker image
#        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
#        with:
#          context: .
#          push: true
#          tags: ${{ steps.meta.outputs.tags }}
#          labels: ${{ steps.meta.outputs.labels }}
#          
#      - name: multiple command
#        uses: appleboy/ssh-action@master
#        with:
#          host: ${{ secrets.HOST }}
#          username: ${{ secrets.USER }}
#          key: ${{ secrets.PRIVATE_KEY }}
#          passphrase: ${{ secrets.PASSPHRASE }}
#          port: ${{ secrets.PORT }}
#          script: |
#            cd ~/www
#            docker pull ${{ secrets.DOCKER_IMAGE }}:main
#            docker run ${{ secrets.DOCKER_IMAGE }}:main
#            
      - name: ssh-pipeline
        # You may pin to the exact commit or the version.
        # uses: cross-the-world/ssh-pipeline@7f022867934a210af826af99ef80d96f03a094d5
        uses: cross-the-world/ssh-pipeline@v1.2.0
        with:
          # ssh remote host
          host: "62.113.102.88"
          # ssh remote port
          port: 3333
          # ssh remote user
          user: "lcsl"
          # content of ssh private key. ex raw content of ~/.ssh/id_rsa
          key: ${{ $LCSL_PRIVATE_KEY }}
          # ssh remote password
          pass: ${{ $LCSL_PASSPHRASE }}
          # connection timeout to remote host
          script: |
            cd ~/www
            docker pull ${{ $LCSL_DOCKER_IMAGE }}:main
            docker run ${{ $LCSL_DOCKER_IMAGE }}:main
